<div>>>> Start checkout page.</div>
<div class="content">
  {% if customer.tags contains 'congty' %}
  <h2>Đây là khách hàng công ty!</h2>
  {% else %}
  <h2>Đây là khách hàng bình thường!</h2>
  {% endif %}
</div>
<div>>>> End checkout page.</div>
